<div class="span12 pagination-centered">

  <%= form_for @post do |f| %>

    <%= render :partial => "post_error" %>

    <% @action_string = "" %>

    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>URL</th>
          <th>description</th>
          <th></th>
          <th>
            <div class="actions"> 
              <%  if @current_action == "new" %>
                <% @action_string = "create entry" %>
              <%  elsif @current_action == "edit" %>
                <% @action_string = "update entry " %>
              <% end %>
              <%= f.submit @action_string, :class => 'btn btn-small btn-success' %>
            </div>
          </th>  
        </tr> 
      </thead>
      <tr>  
        <td> <%= f.text_field :name, :placeholder => 'the name of your URL' %> </td>  
        <td> <%= f.text_field :title, :placeholder => 'http://www.yourawesome.url', :class => 'span4' %> </td>  
        <td colspan="2"> <%= f.text_area :content, :rows => 4, :placeholder => 'say something. that will help a lot!' %> </td>
      </tr>  

      <tr>
        <th> add tag(s) </th>
        <th>
          <% @post.tags.build %> 
          <%= f.fields_for :tags do |tag_form| %>
            <% if tag_form.object.nil? || tag_form.object.new_record? %>
              <%= tag_form.text_field :name, :placeholder => 'new tag', :class => 'span2' %>
            <% end %> 
          <% end %>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
  
    <%= render :partial => "post_tags_update" %>

  <% end %>

</div>
