<%= form_for @post do |f| %>

  <%= render :partial => "post_error" %>

  <h5> <%= @action_title %> </h5>
  <div class="span12 pagination-centered" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>url</th>
          <th>description</th>
          <th>
            <div class="actions"> 
              <%= f.submit @action_string, :class => 'btn btn-small btn-success' %>
            </div>
          </th>  
        </tr> 
      </thead>
      <tr>  
        <td> <%= f.text_field :name, :placeholder => 'the name of your URL' %> </td>  
        <td> <%= f.text_field :title, :placeholder => 'http://www.yourawesome.url', :class => 'span4' %> </td>  
        <td> <%= f.text_area :content, :rows => 4, :placeholder => 'say something. that will help a lot!' %> </td>
      </tr>  
    </table>

    <div class="pull-left form-search"> 
      <p><strong>select tags</strong></p>
      <%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json %>      
    <div> 

    <br />  
    <p><strong>create new tags</strong></p>
    <div class="pull-right"> 
      <%= f.fields_for :tags do |builder| %>
        <% if builder.object.nil? || builder.object.new_record?  %>
          <%= render 'tag_fields', :f => builder %>
        <% end %>
      <% end %>
      <%= link_to_add_fields "", f, :tags %>
    </div>
  
  </div>
<% end %>
