<%= form_for @post do |f| %>

  <%= render :partial => "post_error" %>

  <% if @current_action == "edit" or "update" %>
    <% @action_string = "update entry " %>
  <% elsif @current_action == "new" or "create" %>
    <% @action_string = "create entry" %>
    <% @action_title = "new entry" %>
  <% end %>

  <h5> <%= @action_title %> </h5>
  <%=  @current_action %>
  <div class="span12 pagination-centered" style="background-color: #eef4eb; padding: 8px; border-radius: 8px;">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>url</th>
          <th>description</th>
          <th>
            <div class="actions"> 
              <%= f.submit @action_string, :class => 'btn btn-small btn-success' %>
            </div>
          </th>  
        </tr> 
      </thead>
      <tr>  
        <td> <%= f.text_field :name, :placeholder => 'the name of your URL' %> </td>  
        <td> <%= f.text_field :title, :placeholder => 'http://www.yourawesome.url', :class => 'span4' %> </td>  
        <td ><%= f.text_area :content, :rows => 4, :placeholder => 'say something. that will help a lot!' %> </td>
        <td></td>
      </tr>  
    </table>

    <table>
      <tr>
        <th> add tag(s) </th>
        <th>
          <% @post.tags.build %> 
          <%= f.fields_for :tags do |tag_form| %>
            <% if tag_form.object.nil? || tag_form.object.new_record? %>
              <%= tag_form.text_field :name, :placeholder => 'new tag', :class => 'span2' %>
            <% end %> 
          <% end %>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
  
    <%= render :partial => "post_tags_update" %>

  </div>
<% end %>

