<div class="tabbable background-box "> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li>
      <a href="#tab1" data-toggle="tab"><b>name</b></a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab"><b>url</b></a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab"><b>description</b></a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>actions</b><b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <li>
          <p> 
            <%= link_to '', edit_post_path(@post), :class => 'btn btn-small icon-edit' %>
            <%= 'edit' %> 
          </p>
        </li>
        <li>
          <p> 
          <%= link_to '', @post, confirm: 'Deleting entry! - Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger icon-trash' %>
            <%= 'delete' %> 
          </p>
        </li>
       </ul>
    </li>
    <li class="nav pull-right" style="font-size:xx-small">
      <%= "#{@post.name}##{@post.id} :: #{shorten_url(@post.id)} :: #{create_date(@post)} :: #{update_date(@post)}" %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active navbar-background" id="tab1">
      <p class="lead"><%= @post.name %></p>
    </div>
    <div class="tab-pane navbar-background" id="tab2">
      <p class="lead">
      <%= link_to @post.title, @post.title, { :target => '_blank', :rel => "tooltip", :title => "open this url", :data => { :delay => '800' }, :class => 'btn btn-primary btn-link' } %>
      <p class="input-xlarge" id="disabledInput"> <%= "goo.gl URL: #{shorten_url(@post.id)}" %> </p>
      </p>
    </div>
    <div class="tab-pane navbar-background" id="tab3">
      <% if @post.content.blank? %>
        <em>no description on this entry</em> 
      <% else %>  
          <p> <%= @post.content %> </p>
      <% end %>
    </div>
  </div>
</div>

