<%= js add_gritter(flash[:notice], :image => :success, :title => @post.name, :time => 500) %>

<div class="span2 background-box">
  <small>
    <% unless @post == @first_post %>
      <div class="pull-left btn btn-small">
        <%= link_to '', @post.previous_post, :class => 'icon-backward pull-left' if @post.previous_post %>
      </div>
    <% end %>
    <% unless @post == @last_post %>
      <div class="pull-right btn btn-small">
        <%= link_to '', @post.next_post, :class => 'icon-forward pull-left' if @post.next_post %>
      </div>
    <% end %>
  </small>
  <br />
  <div class="row">
    <div class="span1"></div>
    <div class="span10 background-box">
       <%= render :partial => "post_show" %>
     </div>
     <div class="span1"></div>
     <div class="span8 background-box">
      <%= render :partial => "tags_on_post" %>
    </div>
  </div>
</div>
